#menu {
  margin: 20px 0 0 20px;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, #d53561, #f15b2a);
  width: 50px;
  height: 50px;
  padding: 6px;
}

.menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 33px;
  left: 20px;
  align-items: center;
  z-index: 1035;
  margin-left: auto;
  outline: none;
  border: 0;
  background: 0 0;
  cursor: pointer;
  text-transform: uppercase;
  color: #fff;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #b81568;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}
#bar3 {
  transform: translateY(4px);
}

.nav li a {
  position: relative;
  padding-left: 50px;
  color: #fff;
  text-decoration: none;
  display: flex;
  font-weight: bold;
  padding: 16px 0;
  cursor: pointer;
  margin-bottom: 9px;
}

.nav li {
  list-style: none;
}
.nav li a::before {
  content: "";
  width: 10px;
  height: 57%;
  border-right: 5px solid #ff7b23;
  position: absolute;
  left: -20px;
  top: 10px;
}

.nav {
  padding: 20px;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
  padding-bottom: 8px;
}


.nav {
  padding: 0;
  margin: 0 20px;
  transition: 0.3s ease;
  display: none;
}

.menu-bg,
#menu-bar {
  top: 0;
  left: 0;
  position: absolute;
}

.menu-bg {
  z-index: 1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #e94498, #b81568);
  border-radius: 50%;
  transition: 0.3s ease;
  transform: scale(1);
  position: fixed;
}

#menu-bar {
  z-index: 2;
}

#menu-bar, #menu, .nav {
  transition: all 0.5s ease;
}

.change-bg {
  transform: scale(1);
  opacity: 1;
  width: 478px;
  height: 549px;
  transform: translate(-60%, -30%);
}

.change .bar {
  background-color: #fff;
}

.change #bar1 {
  transform: translate(4px) rotateZ(45deg);
}

.change #bar3 {
  transform: translateY(-10px) rotate(135deg);
}

.change #bar2 {
  opacity: 0;
}

.change {
  display: block;
}

