

<div class="card-edicao">
  <div class="card-content">
    <h2>Edição de Alunos</h2>
    <form class="example-form" [formGroup]="formEdicao" (ngSubmit)="editarAluno()">
    <mat-form-field class="example-full-width">
        <mat-label>Nome</mat-label>
        <input type="search" matInput formControlName="nome" (keypress)="habilitaSomenteLetra($event)">
        <mat-error *ngIf="formEdicao.get('nome')?.invalid && (formEdicao.get('nome')?.touched)">
          Nome é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Sobrenome</mat-label>
        <input type="search" matInput formControlName="sobrenome" (keypress)="habilitaSomenteLetra($event)">
        <mat-error *ngIf="formEdicao.get('sobrenome')?.invalid && (formEdicao.get('sobrenome')?.touched)">
          Sobrenome é obrigatório!
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="color: #fff;">
        <mat-label>Idade</mat-label>
        <input type="number" matInput formControlName="idade">
        <mat-error *ngIf="formEdicao.get('idade')?.errors?.['required'] && (formEdicao.get('idade')?.touched)">
          Idade é obrigatório!
        </mat-error>

        <mat-error *ngIf="formEdicao.get('idade')?.errors?.['min']">
          A idade não pode ser negativa!
        </mat-error>
      </mat-form-field>


      <section class="example-section">
        <mat-radio-group formControlName="sexo">
          <mat-radio-button class="example-margin text" color="primary" value="M">Masculino</mat-radio-button>
          <mat-radio-button class="example-margin text" color="primary" value="F">Feminino</mat-radio-button>
        </mat-radio-group>
        <mat-error *ngIf="formEdicao.get('sexo')?.invalid && (formEdicao.get('sexo')?.touched)">
          Sexo é obrigatório!
        </mat-error>
      </section>
      <div class="botao-espacamento">
        <button class="botao" type="submit" [disabled]="!formEdicao.valid" [ngClass]="habilitarBotao()">Enviar</button>
      </div>
    </form>

  </div>
</div>

